#help-modal{
    background-color: #D9D9D9;
    color: white;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
} 



*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Comfortaa;
    color: black;
    text-decoration: none;
}
body{
    
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #F0F0F2;
}

.header{
    margin: 0 auto;
    width: 100%;
    height: 839px;
    background: url('../img/UVIYOrIo8oGeh207JgXMFWGbR_keEUTZKWzT23EJjDHOw0yP9bLxPgB4ws8kDk1sC7TEQfLgnKSxgq6tFlmfm_Q2fV53DEdl7oc8f5ahDbWgmhM4yiDl_KmvsGy2Drr2GKSOmFIjIR_0GdF5xRm8qn_B0kbAgarAgqXOiDa7acwichsJAgvxln817L03RtwVwJoT61zBcosd3mKNBwzpdPgHv5ihYTG4l8mi-vMrbbj-8WMEIPBYEMNn7.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container{
        margin: 0 auto;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f8f7f829;
        &-logo{
            display: flex;
            align-items: center;
            margin-left: 60px;
            height: 60px;
            width: 190px;
            & a{
                margin-left: 10px;
                font-size: 25px;
                font-weight: 900;
                color: white;
            }
        }
        &-navbar{
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
            & .hamburger-menu{
                height: 40px;
                display: none;
                & .hamburger__modal{
                    display: none;
                    position: fixed;
                    z-index: 1;
                    left: 0;
                    top: 0;
                    width: 100vw; /* полная ширина */
                    height: 100vh; /* полная высота */
                    background-color: rgba(0,0,0,0.4); /* цвет фона - прозрачный черный */
                    &-content{
                        background-color: #fff;
                        /* окно будет находится по центру по горизонтали и с отступом сверху в 100 px */
                        margin: 0 auto; 
                        padding: 20px;
                        width: 50%; 
                        font-size: 20px;
                        /* разнесем текст и кнопоку по краям окна */
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
            & .hamburger{
                width: 30px;
                height: 3px;
                margin: 5px;
            }
            & ul{
                list-style: none;
                display: flex;
                margin: 0;
                padding: 0;
                & li a{
                    color: white;
                    text-decoration: none;
                    padding: 1rem;
                    font-family: Comfortaa;
                }
            }
        }
    }
    &__intro{
        position: relative;
        right: 5%;
        top: 35%;
        width: 348px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        font-size: Comfortaa ;
        float: right;
        margin: 0 auto;
        padding: 100px;
        & .intro{
            color: white;
            font-size: 64px;
        }
        &  .pov-intro{
            color: #ffffff;
            font-size: 36px;
        }
    }
}

  
  .slider {
    display: flex;
    width: 100%;
    height: 562px;
    margin: 0 auto 0 auto;
    padding-bottom: 90px ;
    padding-top: 90px;
    border-bottom: 10px solid #D9D2B0;
    border-top: 10px solid #D9D2B0;
        &__container{
            position: relative;
            width: 1000px;
            height: 552px;
            margin: 0 auto;
            &-block{
                width: 100%;
                height: 100%;
            }
            .prev-button,.next-button {
              position: absolute;
              top: 45%;
              width: 110px;
              height: 60px;
              border: 0;

              
            }
            .prev-button {
                background: url('../img/arrow_back.svg') no-repeat center;
              }
              
              .next-button {
                right: 0;
                background: url('../img/arrow_back(1).svg')no-repeat center;
              } 
        }
        & img{
            width: 100%;
            height: 100%;

        }
  }
.bloks{
    width: 1400px;
    height: 1422px;
    margin: 0 auto;
    padding-bottom: 90px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__block1{
        width: 80%;
        height: 476px;
        background-color: #ffffff;
        border: 5px solid #BF9424;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 48px;
        & .intro{
            font-size: 50px;
            text-align: center;
        }
        & p{
            font-size: 50px;
            color: #BF9424;
        }
        &-intro{
            width: 90%;
            height: 325px;
            margin-top: 40px;
            border: 5px solid #10110ca4;
            & p{
                color: black;
                font-size: 32px;
                padding: 34px 9px;
            }
            & span{
                color: #BF9424;
            }
        }
    }
    &__block2{
        width: 1354px;
        height: 616px;
        background-color: #ffffff;
        border: 5px solid #BF9424;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        & .intro{
            font-size: 50px;
            color: #BF9424;
            margin-bottom: 52px;
        }  
        &-boxs{
            width: 1300px;
            height: 420px;
            display: flex;
            gap: 20px;
            & .box{
                width: 420px;
                height: 420px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border: 5px solid #10110c4a;
                gap: 20px;
                & img{
                    margin-top: 32px;
                }
                & .box-num{
                    font-size: 19px;
                    margin-top: 10px;
                }& .box-intro{
                    width: 342px;
                    height: 198px;
                    font-size: 19px;
                    text-align:justify ;
                }
            }
        }
    }
}
.dep{
    width: 100%;
    height: 100%;
    &__box{
        width: 900px;
        height: auto;
        margin:  50px auto;
        background-color: white;
        border-radius: 25px;
        border: 5px solid #BF9424;
        & .top{
            width: 100%;
            height: 40px;
            padding: 10px 0;
            display: flex;
            gap:70px;
            justify-content: center;
            align-items: center;
            border-bottom: 5px solid #D9D2B0;
            &-bottoms{
                width: 500px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                & label{
                    width: 40%;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    & select{
                        width: 22px;
                        height: 22px;
                        border: 2px solid #D9D2B0;
                    }
                }
                    
            }
            & input{
                width: 300px;
                height: 30px;
                border-radius: 20px;
                border: 0;
                font-size: 18px;
                background: url('../img/Перенесенное\ изображение\ \(2\).png') no-repeat 3px 1px white;
                background-size: auto 90%;
                border: 3px solid #D9D2B0;
                padding: 5px 5px 5px 40px;
                &:focus {
                    outline: none;
                    background-color: #fff;
                    box-shadow: 0 0 0 5px #bf932446;
                  }
            }
        }
    }& #pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        & button{
            margin: 10px 5px;
            padding: 5px 10px;
            cursor: pointer;
            border: 0;
            border-radius: 5px;
            background-color: #D9D2B0;
            &.active{
                background-color: #BF9424;
                color: white;
                
            }
        }
    }&__cards{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        justify-content: center;
        gap: 20px;
        padding: 20px;
        & .card {
            height: 240px;
            background-color: #fff;
            padding: 20px;
            border: 5px solid #D9D2B0;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                &:hover{
                    transform: scale(1.05);
                    transition: 0.3s;
                }
                & h3{
                    text-align: center;
                }
                & .img{
                    margin: 10px auto;
                    & img {
                        width: 100%;
                        height: 100%;
                    }
                }
        }
    }
}

.delete{
    display: none;
}.maps{
    width: 100%;
    height: 1093px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 10px solid #bf932445;
    & p{
        font-size: 64px;
        color: #bf9324;
        margin-bottom: 40px;
    }
    &__box{
        width: 1200px;
        height: 685px;
        & iframe{
            width: 100%;
            height: 100%;
        }
    }
}
.footer{
    width: 100%;
    height: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    &__container{
        width: 1400px;
        height: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        &-logo{
            display: flex;
            align-items: center;
            justify-content: center;
            & p{
                font-size: 45px;
                font-weight: 900;
                color: white;
            }
        }
        &-navbar{
            height: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            & ul{
                list-style: none;
                display: flex;
                margin: 0;
                padding: 0;
                align-items: center;
                & a{
                    color: white;
                    padding: 1rem;
                    font-family: Comfortaa;
                    font-size: 25px;
                }
            }
        }
        &-social{
            width: 300px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 1rem;
            & ul{
                list-style: none;
                display: flex;
                margin: 0;
                padding: 0;
                & li a{
                    color: white;
                    text-decoration: none;
                    padding: 1rem;
                    font-family: Comfortaa;
                }
            }
        }
    }
    &__copyright{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        & p{
            font-size: 15px;
            color: white;
        }
    }
}

.box-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    &__box {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 5px solid #10110c4a;
        & img {
            margin-top: 32px;
        }
        & .box-num {
            font-size: 19px;
            margin-top: 10px;
        }
        & .box-intro {
            width: 342px;
            height: 198px;
            font-size: 19px;
        }
    }
}

.helping{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fffffff0;
    &__container{
        width: 1000px;
        height: 168px;
        padding: 0 0 50px 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title{
            font-size: 64px;
        }& p{
            font-size: 36px;
            text-align: center;
            color: #1E1E1E;
        }
    }&__boxs-1{
        width: 1320px;
        height: 90;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        transition: all 1s linear;
        & .box{
            width: 400px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;
            background: #D9D9D9;
            transition: all 1s linear;
            border: 0;
            & img{
                width: 40px;
                height: 40px;
                margin-left: 25px;
            }
            &__title{
                width: 150px;
                height: 56px;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                & a{
                    font-size: 18px;
                    color: #000000c1;

                }
                & p{
                    font-size: 24px;
                }
            }
        }& .box:hover{
            position: relative;
            opacity: 1;
            transform: scale(1.1);
            box-shadow: 0px 10px 20px #262626;
        }
    }&__boxs-2{
        width: 920px;
        height: 90px;
        display: flex;
        justify-content: space-between;
        margin: 20px auto 0 auto;
        & .box{
            width: 400px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;
            background: #D9D9D9;
            transition: all 1s linear;
            & img{
                margin-left: 25px;
            }
            &__title{
                display: flex;
                flex-direction: column;
                
                & a{
                    font-size: 18px;
                    color: #000000c1;
                }
                & p{
                    font-size: 24px;
                }
            }
        }& .box:hover{
            position: relative;
            opacity: 1;
            transform: scale(1.05); 
            box-shadow: 0px 10px 20px #262626;
        }
    }
}

.modal{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999998;
    background-color: #26262600;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
    box-shadow: 10px 5px 0 red;
    &__box{
        border-radius: 15px;
        position: relative;
        max-width: 500px;
        height: 480px;
        padding: 45px;
        z-index: 1;
        margin: 30px 15px;
        background-color: #D9D9D9;
        transform: scale(0);
        transition: transform .8s;
        -webkit-box-shadow: 0px 6px 10px 6px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 6px 10px 6px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 6px 10px 6px rgba(0, 0, 0, 0.35);
        & .input-group{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            & p{
                font-size: 18px;
            }
            & input{
                width: 65%;
                height: 40px;
                font-size: 20px;
                border-radius: 15px;
                border: none;
            }& button{
                margin: 80px auto 0 auto;
                width: 365px;
                height: 72px;
                border-radius: 15px;
                border: none;
                background-color: #000000a6;
                font-size: 32px;
                color: white;
            }
        }
    }&.open{
        visibility: visible;
        opacity: 1;
    }&.open .modal__box{
        transform: scale(1);
    }&__close-btn{
        position: relative;
        top: -50px;
        left: 50px;
        float: right;
        border: none;
        background-color: transparent;
        padding: 10px;
        cursor: pointer;
    }
}
.yakor{
    position: fixed;
    left: 90%;
    bottom: 40px;
    width: 60px;
    height: 60px;
    background-color: #1E1E1E;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 9000;
    & a img{
        writing-mode: vertical-lr;
    }
}

// index4
#button-index4{
    position: relative;
    top: -46px;
    left: -55px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    background-color: #000;
    cursor: pointer;
    z-index: 9999999999999999;
    &:hover{
        background-color: #ff0000;
    }
    & img{
        width: 100%;
        height: 100%;
    }
}



.modal-index4{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    &__box{
        width: 75%;
        height: 100%;
        background-color: white;
        border: 4px solid #BF9424;
        border-radius: 20px;
        & #box{
            display: flex; 
            justify-content: space-between;
            align-items:flex-start;
            margin:70px 20px;  
        }
        & h1{
            text-align: center;
        }&-left{
            width: 60%;
            height: 40%;
            margin-left: 40px;
            -webkit-box-shadow: 0px 0px 50px 0px rgba(217, 210, 176, 0.85);
            -moz-box-shadow: 0px 0px 50px 0px rgba(217, 210, 176, 0.85);
            box-shadow: 0px 0px 50px 0px rgba(217, 210, 176, 0.85);
        }&-right{
            width: 30%;
            margin-right: 40px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            &_title{
                width: 100%;
                height: 100%;
                border: 5px solid rgba(16, 17, 12, 0.2901960784);
                border-radius: 10px;
                padding: 10px;
                font-size: 17px;
            }
            &_button{
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                
                & a{
                    padding: 10px;
                    border: 2px solid #BF9424;
                    border-radius: 10px;
                    background-color: white;
                    text-align: center;
                    cursor: pointer;
                    &:hover{
                        background-color: #BF9424;
                    }
                }
            }
        }
        &-img{
            width: 100%;
            height: 400px;
            & img{
                width: 100%;
                height: 100%;
            }
        }
    }
}


.loader-display{
    // width: 315%;
    // height: 90px;
    // margin: 40px auto;
    // display: none;
    // align-items: center;
    // justify-content: center;
    display: none;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    & .loader{
        width: 48px;
        height: 48px;
        border: 2px solid #BF9424;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        &::after{
            content: '';  
            box-sizing: border-box;
            position: absolute;
            left: 0;
            top: 0;
            background: #D9D2B0;
            width: 6px;
            height: 6px;
            transform: translate(150%, 150%);
            border-radius: 50%;
        }&::before{
            content: '';  
            box-sizing: border-box;
            position: absolute;
            background: #D9D2B0;
            width: 6px;
            height: 6px;
            transform: translate(150%, 150%);
            border-radius: 50%;
            left: auto;
            top: auto;
            right: 0;
            bottom: 0;
            transform: translate(-150%, -150%);
        }
        @keyframes rotation {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
        } 
    }
}



@media only screen and (max-width: 768px) {
    .header{
        width: 100%;
        height:100%;
        margin-top: 90px;
        position: relative; /* Позволяет дочерним элементам позиционироваться относительно него */
        height: 250px; /* Высота header */
        background: url('../img/UVIYOrIo8oGeh207JgXMFWGbR_keEUTZKWzT23EJjDHOw0yP9bLxPgB4ws8kDk1sC7TEQfLgnKSxgq6tFlmfm_Q2fV53DEdl7oc8f5ahDbWgmhM4yiDl_KmvsGy2Drr2GKSOmFIjIR_0GdF5xRm8qn_B0kbAgarAgqXOiDa7acwichsJAgvxln817L03RtwVwJoT61zBcosd3mKNBwzpdPgHv5ihYTG4l8mi-vMrbbj-8WMEIPBYEMNn7.webp');
        background-size: cover; /* или другое значение */
        background-position: top; /* измените позицию, если нужно */
        background-repeat: no-repeat; /* или другое значение */
        &__container{
            width: 100%;
            position: absolute; /* Позволяет разместить контейнер поверх header */
            top: -90px; /* Отступ сверху */
            z-index: 1; /* Устанавливаем выше фона */
            background-color: #F0F0F2;
            &-logo a{
                color: black;
            }
            &-navbar{
                & .hamburger-menu{
                    & .open{
                        position: fixed;
                        left: 28.2%;
                        float: right;
                        width: 72%;
                        background-color:#000000c5;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        
                        & .close{
                            position: absolute;
                            top: 20px;
                            float: right;
                            right: 8px;
                        }
                        & ul{
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            top: 80px;
                            gap: 20px;
                            & .button{
                                color: white;
                                text-align: center;
                            }
                            & .button-contact{
                                text-align: center;
                                color: white;
                            }
                        }
                    }
                    
                }
            }
        }
        &__intro{
            position: relative;
            top: 60%;
            right: 0;
            width:40%;
            height: 100px;
            margin: 0;
            padding: 0;
            margin-top:0;
            gap: 10px;
            float: right;
            & .intro{
                font-size: 150%;
                color: white;
            }& .pov-intro{
                font-size: 85%;
            }
            & a{
                width: 33px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
            }& img{
                width: 100%;
                height: 100%;
            }
        }
    }.slider{
        width: 100%;
        height: auto;
        margin: 5% auto;
        display: flex;
        padding: 10% 0;
        margin-top: 0;
        &__container{
            width: 100%;
            height: 100%;
            position: relative;
            margin: 0;
            overflow: hidden;
            & .prev-button,.next-button{
                top: 35%;
                width: 20%;
                height: 30%;
                background-size: 80%;
                background-position: center;
            }&.prev-button{
                left: 0;
            }&.next-button{
                float: right;
            }& img{
                width: 100%;
                height: 230px;
                object-fit: cover;
            }
        }
    }
    .bloks{
        width: 100%;
        height: 50%;
        &__block1{
            width: 80%;
            height: 30%;
            & .intro{
                font-size: 180%;
            }
            & p{
                margin: 20px 10px 20px 10px;
                font-size: 100%;
            }
            &-intro{
                width: 80%;
                height: 50%;
                margin: 0 0 20px 0;
                & p{
                    padding: 0 ;
                    text-align: center;
                }
            }
        }&__block2{
            width: 80%;
            height: 150%;
            justify-content: start;
            & .intro{
                width: 100%;
                font-size: 200%;
                display: flex;
                justify-content: center;
                text-align: center;
                margin: 30px 0;
            }
            &-boxs{
                width: 80%;
                height: 80%;
                display: flex;
                align-items: center;
                flex-direction:column;
                margin-bottom: 40px;
                gap: 20px;
                & .box{
                    width: 100%;
                    height: 100%;
                    & .box-intro{
                        width: 90%;
                        height: 100%;
                        font-size: 90%;
                        margin-bottom: 20px;
                    }& img{
                        margin-top: 20px;
                        width: 90%;
                    }& .box-num{
                        margin: 0;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .maps{
        width: 100%;
        height: 100%;
        & p{
            margin-top: 40px;
            font-size: 200%;
        }
        &__box{
            width: 100%;
            height: 500px;
        }
    }.footer{
        width: 100%;
        height: 100%;
        &__container{
            width: 100%;
            &-logo{
                width: 100%;
            }
            &-navbar{

                & .nav-links{
                    flex-direction: column;
                    & a{
                        font-size: 120%;
                    }
                }
            }
        }&__copyright{
            margin-top: 10px;
            display: flex;
            align-items: center;
            text-align:center;
        }
    }
    .dep{
        width: 100%;
        height: 100%;
        &__box{
            width: 90%;
            & .top{
                width: 100%;
                height: 100%;
                padding: 20px 0 20px 0;
                align-items: center;
                justify-content: center;
                gap: 20px;
                flex-direction: column-reverse;
                &-bottoms{
                    width: 100%;
                    gap: 10px;
                    flex-direction: column;
                    & button{
                        width: 80%;
                        height: 100%;
                        white-space:normal;
                    }
                }
            }
        }&__cards{
            grid-template-columns: repeat(1, 1fr);

        }& .loader-display{
            left: 1%;
        }
    }

    .helping{
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        &__container{
            width: 100%;
            height: 100%;
            margin-top: 20px;
            &-title{
                font-size: 200%;
            }& p{
                font-size: 150%;
                margin-top: 20px;
            }
        }&__boxs-1{
            width: 100%;
            height: 100%;
            flex-direction: column;
            gap: 20px;
            & .box{
                align-items: center;
                justify-content: center;
                width: 90%;
                margin: 0 auto;
                & img{
                    margin: 0;
                }
            }
        }&__boxs-2{
            width: 100%;
            height: 100%;
            flex-direction: column;
            gap: 20px;
            & .box{
                align-items: center;
                justify-content: center;
                width: 90%;
                margin: 0 auto;
                & img{
                    margin: 0;
                }
            }
            
        }
    }

    .modal{
        width: 100%;
        display: flex;
        align-items: center;
        &__box{
            width: 50%;
            height: 40%;
            & h1{
                font-size: 100%;
            }
            & .input-group{
                width: 100%;
                & p{
                    font-size: 100%;
                }
                & input{
                    width: 100%;
                }
                & button{
                    width: 100%;
                    height: 60px;
                    margin: 0;
                    font-size: 100%;
                }
            }
        }
    }

    .yakor{
        position: fixed;
        left: 80%;
        bottom: 5%;
        width: 45px;
        height: 45px;
        background-color: #1E1E1E;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        z-index: 9000;
        & a {
            width: 60%;
            height: 60%;
            & img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .modal-index4{
        & #button-index4{
            display: none;
        }
        &__box{
            width: 85%;
            & #box{
                flex-direction: column ;
                margin: 20px 20px;
            }
            & h1{
                width: 80%;
                height: auto;
                margin: 30px auto;
            }
            &-left{
                width: 100%;
                height: 100%;
                margin: 0;
                    }&-img{
                        width: 99.95%;
                        height: 200px;
                        
                        & img{
                            width: 100%;
                        }
                    }
            &-right{
                width: 100%;
                margin: 40px 0 0 0;
                &_title{
                    width: 90%;
                    margin: 0 auto;
                    text-align: center;
                }
                &_button{
                    width: 100%;
                    & button{
                        width: 80%;
                        font-size: 100%;
                    }
                }
            }
        }
    }
    
    .header__container-logo{
        margin-left: 10px;
    }
    .header__container-navbar .hamburger-menu {
        display: block;
    }
 
    .header__container-navbar .nav-links {
        display: none;
    }
}